################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudioThemes/.vs/VisualStudioThemes
/VisualStudioThemes/obj
